.modal-overlay {
    background: rgba(0, 0, 0, 0.726);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1000;
}

.modal {
    width: 450px;
    max-width: 100%;
    z-index: 1000;
    position: fixed;
    display: block;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    color: #438AA9;
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.modal-header .modal-tags-icon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

.modal-container {
    width: 90%;
    margin: 0 auto;
    height: calc(100% - var(--header-height));
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.modal-container .ui.form .field {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-search {
    margin-bottom: 3rem;
}

.filter-button {
    padding: 1rem 4rem;
    border: none;
    background: #50A1A6;
    color: white;
    border-radius: 3rem;
}

.modal-topbar {
    width: 100%;
    height: 2.5rem;
    background: #438AA9;
    border-radius: 1rem 1rem 0 0;
}

.modal-title {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
}

.modal-guts .search-label {
    font-size: 1.25rem;
    margin-bottom: .5rem;
    color:rgb(84, 129, 151);
}

.modal-bottombar {
    display: flex;
    justify-content: flex-end;
}

.modal-bottombar .apply-button {
    border: none;
    background: #438AA9;
    color: white;
    padding: 1rem 0 1rem 0;
    border-radius: .25rem;
    cursor: pointer;
    width: 30%;
}

.modal-bottombar .cancel-button {
    border: none;
    background: none;
    color: rgb(78, 75, 75);
    border-radius: .25rem;
    cursor: pointer;
    width: 10%;
    font-weight: bold;
    margin-right: 1.5rem;
}

#modal-search {
    margin-bottom: 1.5rem;
}

.modal-topbar .close-button {
    font-size: 2.5rem;
    width: var(--header-height);
    height: var(--header-height);
    border: none;
    background: none;
    border-radius: 0 1.25rem 0 0;
    color: white;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.modal-guts {
    display: flex;
    flex-direction: column;
    overflow: auto;
}