.usr-evts {
    padding: 2rem;
    color: var(--theme-color);
    box-shadow: 0 1px 5px rgb(143, 136, 136);
    display: flex;
    flex-direction: column;
    border-radius: .28571429rem;
    width: 50%;
    margin: 1rem;
    
    .ui.cards {
        margin: 0;
    }
}

.ui.cards .card .content .header {
    color: var(--theme-color);
}

.usr-info {
    display: flex;
    justify-content: space-around;
    padding: 3rem;
}

@media (max-width: 600px){
    .usr-info {
        flex-direction: column;
        justify-content: center;
    }
}