.login {
    height: 100vh;
    background: linear-gradient(#316988, #d4e0e9);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-color);
    text-align: center;
    
    &-card {
        background: white;
        border-radius: 1rem;
        min-width: 400px;
    }

    &-card-container {
        margin: 3rem;
    }

    &-no-acct {
        display: block;
        margin-bottom: 1rem;
        color: var(--theme-color);
        font-weight: 100;
    }

    &-no-acct, &-no-acct:hover {
        color: var(--theme-color);
    }

    &-title {
        font-size: var(--biggest-font-size);
    }

    &-title, &-slogan {
        margin: 0;
    }

    &-slogan {
        font-size: var(--bigger-font-size);
        margin-bottom: 2.5rem;
        font-weight: 100;
    }
}

.ui.form .ui.button {
    background: var(--theme-color);
    width: 40%;
    border-radius: .5rem;
}