.login {
    &-left {
        width: 50%;
        height: 100vh;
        background: linear-gradient(#316988, #a7ceeb);
        display: flex;
    }
    
    &-right {
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        color: var(--theme-color);
    
        &-container {
            width: 400px;
            margin: 0 auto;
        }
        
        .ui.form .field label { 
            color: var(--theme-color);
            font-size: var(--big-font-size);
            font-weight: 500;
        }
    
        .ui.button {
            display: inline-flex;
            background-color: #50A1A6;
            color: var(--body-color);
            border-radius: 1rem;
        }

        .ui.button .login-btn {
            display: block;
            padding: 0.25rem 3rem;
        }
    }

    &-no-acct {
        display: block;
        margin-bottom: 1rem;
        color: var(--theme-color);
        font-weight: 100;
    }

    &-no-acct, &-no-acct:hover {
        color: var(--theme-color);
    }
    
    &-container {
        display: flex;
        flex-direction: row;
    }

    &-title {
        font-size: var(--biggest-font-size)
    }

    &-slogan {
        font-size: var(--bigger-font-size);
        margin-bottom: 2.5rem;
    }
}