.wrapper {
    display: flex;
    height: 100vh;
    padding-top: var(--header-height);
}

.map-left {
    width: 25%;
    color: #9c252570;
}

.location-search-input {
    border-radius: 3rem;
    padding: .75rem 2rem;
    width: 90%;
    display: flex;
    margin: .75rem auto;
    font-family: 'Catamaran';
    font-size: var(--medium-font-size);
    color: var(--theme-color);
}

.map-right {
    width: 75%
}