.wrapper {
    display: flex;
    height: 100vh;
    padding-top: var(--header-height);
}

.map-left {
    width: 30%;
    //color: #9c252570;
    background-color: #f2f2f2;
    overflow-x: hidden;
    overflow-y: scroll;
}

.event-count-label {
    display: block;
}

.menu-button {
    cursor: pointer;
    border: none;
    background: none;
}

.menu-icon {
    height: 2rem;
    width: 2rem;
    color: #438AA9;
}

.location-search-input {
    border-radius: 3rem;
    padding: .75rem 2rem;
    width: 80%;
    margin: .5rem auto;
    font-family: 'Catamaran';
    /*font-size: var(--medium-font-size);*/
    font-size: 18px;
    color: var(--theme-color);
}

.map-right {
    width: 70%;
    grid-column: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f2f2f2;
}

.map-right {
    grid-column: 2/5;
}

.event-cards {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
}

.indv-card {
    padding: .2rem;
    box-shadow: 10px, 20px, 5px; 
    border-radius: 30px;
    padding-bottom: 10px;
}

.indv-cards {
    border-radius: 100px;
    box-shadow: 10px, 20px, 5px; 
}

.places-search-bar {
    position: fixed;
}

.title {
    color: hsl(202, 73%, 61%);
    font-size: 36px;
    margin-top: -20px;
    padding-bottom: 15px;
    line-height: 35px;
}

.details {
    line-height: 28px;
    margin-top: -15px;
    font-size: 18px;
}

.tags {
    margin-top: -16px;
    font-size: 18px;
    padding-bottom: 15px;
}