.wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.map-left {
    grid-column: 1;
}

.map-right {
    grid-column: 2/5;
}

.Search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    width: 50%;
    padding-left: 200px;
}

.Submit-btn {
    width: 150px;
}