// import global variables
@import '../../styles/variables';

#header {
    background: #438AA9;
    position: fixed;
    width: 100%;
    z-index: 50;
}

.nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1.5rem;
    position: relative;
}

.nav-logo {
    display: flex;
    align-items: center;
}

.nav-logo-img {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.nav-logo-text {
    color: var(--light-text);
    font-weight: bold;
    font-size: var(--big-font-size);
}

.nav-link {
    color: var(--light-text);
    font-size: var(--medium-font-size);
    font-weight: 300;
    margin-right: 1rem;
}