:root {
    --header-height: 3.5rem;
    --theme-color: #438AA9;
    --light-text: white;
    --body-color: white;

    --biggest-font-size: 3rem;
    --bigger-font-size: 1.75rem;
    --big-font-size: 1.25rem;
    --medium-font-size: 1.15rem;
    --normal-font-size: .938rem;
}