@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;300;500;600;700&display=swap');

// import global variables
@import './variables';

/*===========RESET STYLES===========*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
html {
  scroll-behavior: smooth;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:hover {
  text-decoration: none;
  color: var(--light-text);
}

body {
  font-family: 'Catamaran';
}

button, input, optgroup, select, textarea {
  font-family: 'Catamaran';
}

ul {
  list-style: none;
}
